body{
    background-color: #164863;
}
.number{
    font-size: 100px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.number div{
    padding: 20px;
    background-color: #9BBEC8;
    border-radius: 0px 20px 0px 20px;
    transition: border-radius 0.3s;
}
.number div:hover{
    border-radius: 20px 0px 20px 0px;
}
button{
    background-color: #427D9D;
    padding: 10px;
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    width: 10rem;
}
button:hover{
    background-color: #356781;
    padding: 10px 12px 10px 12px;
}
.button{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.play{
    width: 15rem
}
.lower{
    width: 12rem
}
.point{
    background-color: rgb(3, 140, 231)!important;
    border: 0;
    color: #fff;
}

@media (max-width: 480px) {
    body{
        padding-top: 30px;
    }
    .button{
        flex-direction: column;
    }
    button{
        padding: 15px;
        align-self: center;
    }
    button:hover{
        padding: 15px 17px 15px 17px;
    }
}
